extends htmlTemplate
block head
    - var pageTitle="Admin Course Material"
    link(rel="stylesheet" href="css/adminCourseMaterial.css")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js")
    script(src="js/adminCourseMaterial.js")
block header
    - var removeNavbarBottomMargin=true;
block body
    include generalTemplate.pug
    //- p= JSON.stringify(config)
    //- include: ../backend/node_modules/moment/src/moment.js
    mixin cell(status,numberOfSub,courseID)
        if(status==null)
            td.bg-info -
        else if(status=="accepted")
            td.bg-success
                a(href="file:///"+config.courseMaterialPath+"CR"+config.year+"Q"+config.quarter+"/"+courseID+"/"+numberOfSub+"/")= "#"+numberOfSub
                code Accepted
                +cell-control(status,numberOfSub,courseID)
        else if(status=="rejected")
            td.bg-danger
                a(href="file:///"+config.courseMaterialPath+"CR"+config.year+"Q"+config.quarter+"/"+courseID+"/"+numberOfSub+"/")= "#"+numberOfSub
                code Rejected
                +cell-control(status,numberOfSub,courseID)
        else if(status=="pending")
            td.bg-warning
                a(href="file:///"+config.courseMaterialPath+"CR"+config.year+"Q"+config.quarter+"/"+courseID+"/"+numberOfSub+"/")= "#"+numberOfSub
                code Pending
                +cell-control(status,numberOfSub,courseID)
    mixin cell-control(status,numberOfSub,courseID)
        +form("post/judgeCourseMaterial")
            input(name="courseID" type="hidden" value=courseID)
            input(name="numberOfSub" type="hidden" value=numberOfSub)
            .btn-group
                //- input.btn.btn-success.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20ACCEPTED&quot;" type="submit" value="accept")
                input.btn.btn-success.btn-xs(name="action" onclick="location.reload();" type="submit" value="accept")
                input.btn.btn-danger.btn-xs(name="action" onclick="location.reload();" type="submit" value="reject")
                //-input.btn.btn-warning.btn-xs(name="action" type="submit" value="remove")
    //- for(var i in course)
        div= JSON.stringify(course[i])
    .container-fluid.text-center(style="padding:0px")
        .table-responsive
            table#tracking.table.table-bordered.table-hover(style="margin:0px")
                thead
                    tr
                        - for(var i in course)
                            th.thead-tutor.text-center= course[i].tutorNicknameEn
                    tr
                        - for(var i in course)
                            th(class="thead-"+moment(course[i].day).format("ddd").toLowerCase()+" text-center")= moment(course[i].day).format("ddd").toUpperCase()
                    tr
                        - for(var i in course)
                            th.thead-time.text-center= moment(course[i].day).hour()+"-"+moment(course[i].day).add(2,"h").hour()
                    tr
                        - for(var i in course)
                            th.thead-course-name.text-center= course[i].courseName
                tbody
                    - for(var i=0;i<12;i++)
                        tr
                            - for(var j in course)
                                +cell(course[j].submission[i],i+1,course[j].courseID)
    #message.container
