extends htmlTemplate
block head
    -const pageTitle = "Admin Course Description"
    script(src="js/admin.min.js")
    script(
        data-require="rxjs@*"
        data-semver="2.5.3"
        src="//cdnjs.cloudflare.com/ajax/libs/rxjs/2.5.3/rx.all.js"
    )
    script(
        data-require="rx.angular.js@*"
        data-semver="0.0.14"
        src="https://cdn.rawgit.com/Reactive-Extensions/rx.angular.js/v0.0.14/dist/rx.angular.js"
    )
    script(src="/js/adminRoom.js")
    script(type="text/javascript").
        window.onload = function(){
		    document.getElementById("default").click();
	    }
block body
    .container-fluid
        .tab
            button#default.tablinks(onclick="showRoom(event,'Tue')") Tue
            button.tablinks(onclick="showRoom(event,'Thu')") Thu
            button.tablinks(onclick="showRoom(event,'Sat8')") Sat8
            button.tablinks(onclick="showRoom(event,'Sat10')") Sat10
            button.tablinks(onclick="showRoom(event,'Sat13')") Sat13
            button.tablinks(onclick="showRoom(event,'Sat15')") Sat15
            button.tablinks(onclick="showRoom(event,'Sun8')") Sun8
            button.tablinks(onclick="showRoom(event,'Sun10')") Sun10
            button.tablinks(onclick="showRoom(event,'Sun13')") Sun13
            button.tablinks(onclick="showRoom(event,'Sun15')") Sun15
        div(ng-app="tableRoom")
            #Tue.tabcontent(ng-controller="tue")
                h2 Tuesday 17:00 - 19:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#tueTable
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Thu.tabcontent(ng-controller="thu")
                h2 Thursday 17:00 - 19:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#thuTable
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sat8.tabcontent(ng-controller="sat8")
                h2 Saturday 8:00 - 10:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sat8Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sat10.tabcontent(ng-controller="sat10")
                h2 Saturday 10:00 - 12:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sat10Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sat13.tabcontent(ng-controller="sat13")
                h2 Saturday 13:00 - 15:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sat13Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sat15.tabcontent(ng-controller="sat15")
                h2 Saturday 15:00 - 17:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sat15Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sun8.tabcontent(ng-controller="sun8")
                h2 Sunday 8:00 - 10:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sun8Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sun10.tabcontent(ng-controller="sun10")
                h2 Sunday 10:00 - 12:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sun10Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sun13.tabcontent(ng-controller="sun13")
                h2 Sunday 13:00 - 15:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sun13Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}
            #Sun15.tabcontent(ng-controller="sun15")
                h2 Sunday 15:00 - 17:00
                .table-responsive.col-md-8.col-md-offset-2
                    table.table.table-hover(style="font-family:'Trirong',serif;")
                        thead
                            tr
                                th.col-md-2 Room
                                th.col-md-4 Course Name
                                th.col-md-1 Number of student
                                th.col-md-1 Full
                        tbody#sun15Table
                            div
                                tr(ng-repeat="room in roomDayList" ng-click="tableRowClick(room.courseID)" ng-hide="room.isHidden")
                                    td {{ room.room }}
                                    td {{ room.courseName }}
                                    td {{ room.noStudent }}
                                    td {{ room.full }}