mixin cell(status,numberOfSub,courseID,tutorNicknameEn,tutorEmail,courseName)
    if(status==null)
        td.info -
    else if(status=="accepted")
        td.success
            a(href="file:///"+config.courseMaterialPath+"CR"+config.year+"Q"+config.quarter+"/"+courseID+"/"+numberOfSub+"/")= "#"+numberOfSub
            code Accepted
            +cell-control(status,numberOfSub,courseID,tutorNicknameEn,tutorEmail,courseName)
    else if(status=="rejected")
        td.danger
            a(href="file:///"+config.courseMaterialPath+"CR"+config.year+"Q"+config.quarter+"/"+courseID+"/"+numberOfSub+"/")= "#"+numberOfSub
            code Rejected
            +cell-control(status,numberOfSub,courseID,tutorNicknameEn,tutorEmail,courseName)
    else if(status=="pending")
        td.warning
            a(href="file:///"+config.courseMaterialPath+"CR"+config.year+"Q"+config.quarter+"/"+courseID+"/"+numberOfSub+"/")= "#"+numberOfSub
            code Pending
            +cell-control(status,numberOfSub,courseID,tutorNicknameEn,tutorEmail,courseName)
mixin cell-control(status,numberOfSub,courseID,tutorNicknameEn,tutorEmail,courseName)
    +form("post/judgeCourseMaterial")(tutorNicknameEn=tutorNicknameEn.toString() tutorEmail=tutorEmail.toString() courseName=courseName)
        input(name="courseID" type="hidden" value=courseID)
        input(name="numberOfSub" type="hidden" value=numberOfSub)
        .btn-group
            //- input.btn.btn-success.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20ACCEPTED&quot;" type="submit" value="accept")
            input.btn.btn-success.btn-xs(name="action" type="submit" value="accept")
            input.btn.btn-danger.btn-xs(name="action" type="submit" value="reject")
            //- input.btn.btn-warning.btn-xs(name="action" type="submit" value="remove")
mixin new-cell(status)
    if(status==null)
        td.popup.c-grey&attributes(attributes)
            span.glyphicon.glyphicon-minus
    else if(status=="accepted")
        td.popup.c-lightgreen&attributes(attributes)
            span.glyphicon.glyphicon-ok
    else if(status=="rejected")
        td.popup.c-red&attributes(attributes)
            span.glyphicon.glyphicon-remove
    else if(status=="pending")
        td.popup.c-blue&attributes(attributes)
            span.glyphicon.glyphicon-hourglass
