mixin form(action)
    form(action=action method="post")&attributes(attributes)
        block
mixin form-horizontal(action)
    form.form-horizontal(action=action method="post")&attributes(attributes)
        block
mixin form-group(name)
    .form-group
        label.control-label.col-sm-2(for=name+"Input")= name+" :"
        .col-sm-10
            block
mixin form-title(name)
    .form-group
        .col-sm-offset-1.col-sm-11
            h3= name

//- placeholder (optional)
mixin select(name,placeholder)
    select.form-control(name=name)&attributes(attributes)
        option(disabled selected)= placeholder?placeholder:"Select "+name
        block
//- description (optional)
mixin option(value,description)
    - value=value.toString()
    option(value=value)&attributes(attributes)= description?description:capitalize(value)
//- hour,minute (auto-mod)(optional) | duration (in hour)
mixin option-time(hour,minute,duration)
    - var time=moment(0).hour(hour?hour%24:0).minute(minute?minute%60:0)
    +option(time.valueOf(),time.format("HH:mm")+" - "+time.add(duration,"h").format("HH:mm"))
//- day 1-7(auto-mod) | hour,minute (auto-mod)(optional) | duration (in hour)(optional)
mixin option-day(day,hour,minute,duration)
    - var time=moment(0).isoWeekday(day).hour(hour?hour%24:0).minute(minute?minute%60:0)
    if(hour==undefined)
        +option(time.valueOf(),time.format("dddd"))
    else
        if(!duration)
            +option(time.valueOf(),time.format("ddd HH:mm"))
        else
            +option(time.valueOf(),time.format("ddd HH:mm")+" - "+time.add(duration,"h").format("HH:mm"))
//- placeholder (optional)
mixin input-text(name,placeholder)
    input.form-control(type="text" name=name placeholder=placeholder?placeholder:capitalize(name))&attributes(attributes)
mixin input-number(name,placeholder)
    input.form-control(type="number" name=name placeholder=placeholder?placeholder:capitalize(name))&attributes(attributes)
mixin input-password(name,placeholder)
    input.form-control(type="password" name=name placeholder=placeholder?placeholder:capitalize(name))&attributes(attributes)
mixin input-email(name,placeholder)
    input.form-control(type="email" name=name placeholder=placeholder?placeholder:capitalize(name))&attributes(attributes)

mixin button-submit
    button.btn.btn-default(type="submit")&attributes(attributes)
        block
mixin select-status
    +select("status")&attributes(attributes)
        +option("inactive")
        +option("active")
        +option("dropped")
        +option("terminated")
mixin select-registration-state
    +select("registrationState")&attributes(attributes)
        +option("unregistered")
        +option("untransferred")
        +option("transferred")
        +option("pending")
        +option("rejected")
        +option("registered")
        +option("finished")
mixin select-number-of-sub
    +select("numberOfSub","Select number of submission")&attributes(attributes)
        - for(i=1;i<=14;i++)
            +option(i)
mixin select-skill-subject
    +select("subject")&attributes(attributes)
        +option("E","English")
        +option("M","Math")
mixin select-skill-day
    +select("day").input-day&attributes(attributes)
        +option-day(6)
        +option-day(7)
mixin select-skill-time
    +select("day").input-time&attributes(attributes)
        +option-time(9,0,1)
        +option-time(9,30,1)
        +option-time(10,0,1)
        +option-time(10,30,1)
        +option-time(11,0,1)
        +option-time(13,0,1)
        +option-time(13,30,1)
        +option-time(14,0,1)
        +option-time(14,30,1)
        +option-time(15,0,1)
mixin select-hybrid-subject
    +select("subject")&attributes(attributes)
        +option("M","Math")
        +option("PH","Physics")
mixin select-hybrid-day
    +select("day")&attributes(attributes)
        +option-day(2,17,0,2)
        +option-day(4,17,0,2)
        +option-day(6,8,0,2)
        +option-day(6,10,0,2)
        +option-day(6,13,0,2)
        +option-day(6,15,0,2)
        +option-day(7,8,0,2)
        +option-day(7,10,0,2)
        +option-day(7,13,0,2)
        +option-day(7,15,0,2)
mixin select-grade
    +select("grade")&attributes(attributes)
        +option(1,"Primary 1")
        +option(2,"Primary 2")
        +option(3,"Primary 3")
        +option(4,"Primary 4")
        +option(5,"Primary 5")
        +option(6,"Primary 6")
        +option(7,"Secondary 1")
        +option(8,"Secondary 2")
        +option(9,"Secondary 3")
        +option(10,"Secondary 4")
        +option(11,"Secondary 5")
        +option(12,"Secondary 6")
mixin select-position
    +select("position")&attributes(attributes)
        +option("tutor")
        +option("admin")
        +option("dev")
mixin select-course-subject
    +select("subject")&attributes(attributes)
        +option("CH","Chemistry")
        +option("E","English")
        +option("M","Math")
        +option("PH","Physics")
mixin select-course-day
    +select("day")&attributes(attributes)
        +option-day(6,8,0,2)
        +option-day(6,10,0,2)
        +option-day(6,13,0,2)
        +option-day(6,15,0,2)
        +option-day(7,8,0,2)
        +option-day(7,10,0,2)
        +option-day(7,13,0,2)
        +option-day(7,15,0,2)
mixin select-room
    +select("room")&attributes(attributes)
        +option(0,"Hybrid")
        +option(1,"Room 1")
        +option(2,"Room 2")
        +option(3,"Room 3")
        +option(4,"Room 4")
        +option(5,"Room 5")
//- +button-submit.asdf(id="<asdf>" a="<b>") asdf
//- +select("sasdf")
//-     +option("asdf","asdf")
//- include generalTemplate
//- +select-status()(required)
