extends htmlTemplate
block head
    -const pageTitle = "Admin Student Profile"
    link(href="css/component.css", rel="stylesheet")
    script(src="js/admin.min.js")
    script(src="js/JsBarcode.code128.min.js" type="text/javascript")
    style.
        #comment p{
            margin-bottom:20px;
            white-space:pre-line;
        }
        #comment ul{
            margin-left:120px;
        }
block body
    .container
        .col-sm-6
            img#profilePic(src="images/noImage.svg" style="max-height:180px;width:auto")
            h2#studentName &nbsp;
            h2#studentNameEng &nbsp;
            h3#studentLevel &nbsp;
            h4#studentID &nbsp;
            h4#studentState &nbsp;
            h4#studentStatus &nbsp;
            h4#email &nbsp;
            h4#phone &nbsp;
            h4#parentPhone &nbsp;
            button.btn.btn-info(type="button" onClick="editProfile()") EDIT
            h1#qLabel Quater: &nbsp;
        .col-sm-6(align="right")
            img#imgTrans(src="images/noImage.svg" style="max-width:inherit;width:auto;max-height:240px;")
        .table-responsive.col-sm-12
            table.table.table-bordered#courseTable
                thead
                    tr
                        th.col-sm-2
                        th.col-sm-2 TUE
                        th.col-sm-2 THU
                        th.col-sm-2 SAT
                        th.col-sm-2 SUN
                    tr
                        th 8:00-10:00
                        td
                            button.btn.btn-disable.col-sm-12#-169200000(type="button") &nbsp;
                        td
                            button.btn.btn-disable.col-sm-12#3600000(type="button") &nbsp;
                        td
                            button.btn.btn-default.col-sm-12#176400000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                        td
                            button.btn.btn-default.col-sm-12#-342000000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                    tr
                        th 10:00-12:00
                        td
                            button.btn.btn-disable.col-sm-12#-162000000(type="button") &nbsp;
                        td
                            button.btn.btn-disable.col-sm-12#10800000(type="button") &nbsp;
                        td
                            button.btn.btn-default.col-sm-12#183600000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                        td
                            button.btn.btn-default.col-sm-12#-334800000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                    tr
                        th 13:00-15:00
                        td
                            button.btn.btn-disable.col-sm-12#-151200000(type="button") &nbsp;
                        td
                            button.btn.btn-disable.col-sm-12#21600000(type="button") &nbsp;
                        td
                            button.btn.btn-default.col-sm-12#194400000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                        td
                            button.btn.btn-default.col-sm-12#-324000000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                    tr
                        th 15:00-17:00
                        td
                            button.btn.btn-disable.col-sm-12#-144000000(type="button") &nbsp;
                        td
                            button.btn.btn-disable.col-sm-12#28800000(type="button") &nbsp;
                        td
                            button.btn.btn-default.col-sm-12#201600000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                        td
                            button.btn.btn-default.col-sm-12#-316800000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                    tr
                        th 17:00-19:00
                        td
                            button.btn.btn-default.col-sm-12#-136800000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                        td
                            button.btn.btn-default.col-sm-12#36000000(type="button" onClick="addRemoveCourse(this.id);") Add Course
                        td
                            button.btn.btn-disable.col-sm-12#208800000(type="button") &nbsp;
                        td
                            button.btn.btn-disable.col-sm-12#-309600000(type="button") &nbsp;
        .col-sm-6
            button.btn.btn-default#math(onClick="downloadCanvas(this.id);") Download Math Table
            button.btn.btn-default#phy(onClick="downloadCanvas(this.id);") Download Physics Table
        .col-sm-6(align="right")
            .btn-group
                button.btn.btn-primary(type="button" onClick="setRegistrationState('registered');") APPROVE
                button.btn.btn-warning(type="button" onClick="setRegistrationState('pending');") PENDING
                button.btn.btn-danger(type="button" onClick="setRegistrationState('rejected');") REJECTED
                button.btn.btn-success(type="button" onClick="setRegistrationState('finished');") FINISHED
        img#mathImg(src="#" hidden="true")
        img#phyImg(src="#" hidden="true")
        canvas#mathCanvas(style="border:1px solid black" width="1654" height="1170" hidden="true")
        canvas#phyCanvas(style="border:1px solid black" width="1654" height="1170" hidden="true")
        canvas#mathBarcode(hidden="true")
        canvas#phyBarcode(hidden="true")
        canvas#appRej(style="border:1px solid black" width="560" height="380" hidden="true")
    .container
        hr
        .col-sm-12
            h1 Summer
        .table-responsive.col-sm-12
            table.table.table-bordered
                thread
                    tr
                        td.col-sm-3
                        th.col-sm-3 8:00-10:00
                        th.col-sm-3 10:00-12:00
                        th.col-sm-3 13:00-15:00
                    tr
                        td 
                        td 
                            button.btn.btn-primary.col-sm-12(type="button") &nbsp;
                        td
                            button.btn.btn-primary.col-sm-12(type="button") &nbsp;
                        td
                            button.btn.btn-primary.col-sm-12(type="button") &nbsp;
        .col-sm-6
            button.btn.btn-default(onClick="") Download Table
        .col-sm-6(align="right")
            .btn-group
                button.btn.btn-primary(type="button" onClick="") APPROVE
                button.btn.btn-warning(type="button" onClick="") PENDING
                button.btn.btn-danger(type="button" onClick="") REJECTED
                button.btn.btn-success(type="button" onClick="") FINISHED
    .container
        hr
        #comment.row.col-sm-12.col-xs-12
        script(src="js/FileSaver.min.js" type="text/javascript")
        script.
            $(document).ready(function () {
                $('#profilePic').click(function () {
                    $('#profileModal').modal();
                });
                $('#imgTrans').click(function () {
                    $('#rcModal').modal();
                });
                $('#math,#phy').attr("class","btn btn-default disabled");
                $('#math,#phy').prop("disabled",true);
                getStudentProfile();
                showProfilePic();
                showReceipt();
                showComment();
            });
            function downloadCanvas(subj) {
                let sID = document.getElementById("studentID").innerHTML.slice(4, document.getElementById("studentID").innerHTML.length);
                let canvas = document.getElementById(subj + "Canvas"), ctx = canvas.getContext("2d");
                let dlImg = canvas.toDataURL();
                let aref = document.createElement('a');
                aref.href = dlImg;
                aref.download = sID + ((subj === "math") ? "1" : "2") + '.png';
                document.body.appendChild(aref);
                aref.click();
            }
            function editProfile() {
                $("#editModal").modal();
            }
            $(document).on('click','.glyphicon-trash',function(){
                $('#commentRm #confirm').attr("commentID",$(this).attr("id"));
                $('#commentRm').modal();
            });
        //- Modal for editProfile
        .modal.fade#editModal(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h1 Edit Profile
                    .modal-body
                        .form-group
                            label Name :
                            input#thNName.form-control.col-sm-2(type="text" placeholder="ชื่อเล่น")
                            input#thName.form-control.col-sm-2(type="text" placeholder="ชื่อจริง")
                            input#thSName.form-control.col-sm-2(type="text" placeholder="นามสกุล")
                            input#enNName.form-control.col-sm-2(type="text" placeholder="Nickname")
                            input#enName.form-control.col-sm-2(type="text" placeholder="Firstname")
                            input#enSName.form-control.col-sm-2(type="text" placeholder="Surname")
                        .form-group
                            label Level :
                            select#classStudent.form-control
                                option(value="1") ประถม 1
                                option(value="2") ประถม 2
                                option(value="3") ประถม 3
                                option(value="4") ประถม 4
                                option(value="5") ประถม 5
                                option(value="6") ประถม 6
                                option(value="7") มัธยม 1
                                option(value="8") มัธยม 2
                                option(value="9") มัธยม 3
                                option(value="10") มัธยม 4
                                option(value="11") มัธยม 5
                                option(value="12") มัธยม 6
                                option(value="13") SAT
                        .form-group
                            label Stage :
                            select#stageStudent.form-control
                                option(value="unregistered") Unregistered
                                option(value="untransferred") Untransferred
                                option(value="transferred") Transferred
                                option(value="pending") Pending
                                option(value="rejected") Rejected
                                option(value="registered") Registered
                                option(value="finished") Finished
                        .form-group
                            label Status :
                            select#statusStudent.form-control
                                option(value="active") Active
                                option(value="inactive") Inactive
                                option(value="dropped") Dropped
                                option(value="terminated") Terminated
                        .form-group
                            label E-mail :
                            input#emailStudent.form-control.col-sm-2(type="text" placeholder="Input e-mail")
                        .form-group
                            label Phone :
                            input#telStudent.form-control.col-sm-2(type="text" placeholder="Input phone number")
                    .modal-footer
                        .col-sm-1
                        div
                            button#acceptStudentData.btn.btn-success(type="button" onClick="editStudent();") CONFIRM
                            button.btn.btn-default(type="button" data-dismiss="modal") CANCEL
        //- Modal for removeCourse
        .modal.fade#removeModal(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h1 Remove Course
                    .modal-body
                        h4
                            |Are you sure to delete
                            span#courseName
                            |&nbsp;?
                    .modal-footer
                        button#confirmDelete.btn.btn-danger(type="button" onClick="removeCourse();") Yes
                        button.btn.btn-default(type="button" data-dismiss="modal") No
        //- Modal for addCourse
        .modal.fade#addModal(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h1 Add Course
                    .modal-body.form-group
                        select.form-control#courseSelector
                    .modal-footer
                        button.btn.btn-primary(type="button" onClick="addCourse();") Confirm
                        button.btn.btn-default(type="button" data-dismiss="modal") Cancel
        //- Modal for uploadProfile Picture
        .modal.fade#profileModal(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4 เปลี่ยนรูปประจำตัว
                    .modal-body.form-group
                        .box(align="center")
                            input#file-1.inputfile.inputfile-1(
                                type="file"
                                name="file-1[]"
                                style="opacity: 0;height: 0;"
                                data-multiple-caption="{count} files selected"
                            )
                            label(for="file-1")
                                svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                                    path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
                                span เลือกรูป
                    .modal-footer
                        button.btn.btn-primary(type="button" onClick="upPic();") OK
                        button.btn.btn-default(type="button" data-dismiss="modal") Cancel
        //- Modal for uploadReciept Picture
        .modal.fade#rcModal(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4 เปลี่ยนรูปใบโอน
                    .modal-body.form-group
                        .box(align="center")
                            input#file-2.inputfile.inputfile-1(
                                type="file"
                                name="file-1[]"
                                style="opacity: 0;height: 0;"
                                data-multiple-caption="{count} files selected"
                            )
                            label(for="file-1")
                                svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                                    path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
                                span เลือกรูป
                    .modal-footer
                        button.btn.btn-primary(type="button" onClick="upReciept();") OK
                        button.btn.btn-default(type="button" data-dismiss="modal") Cancel
        script(src="js/custom-file-input.js")