extends htmlTemplate
block head
    - var pageTitle="Course Material Management"
    link(rel="stylesheet" href="/css/courseMaterial.css")
    script(src="/js/adminCourseMaterial.js")
block header
    - var removeNavbarBottomMargin=true;
block body
    include generalTemplate
    include inputTemplate
    include courseMaterial
    -
        course.sort(function(x,y){
            if(compare(x.tutorNicknameEn,y.tutorNicknameEn))return compare(x.tutorNicknameEn,y.tutorNicknameEn);
            if(x.day!=y.day)return x.day-y.day;
            if(x.courseName!=y.courseName)return compare(x.courseName,y.courseName);
            return compare(x.courseID,y.courseID);
        });
        for(var i in course){
            course[i].day=moment(course[i].day);
            course[i].tutorNicknameEnArray=course[i].tutorNicknameEn;
            course[i].tutorNicknameEn=course[i].tutorNicknameEn.toString();
            course[i].tutorEmail=course[i].tutorEmail.toString();
        }
    #judgeModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                .modal-body.text-center
                    .big-symbol
                        span.glyphicon.glyphicon-minus.no
                        span.glyphicon.glyphicon-ok.accepted
                        span.glyphicon.glyphicon-remove.rejected
                        span.glyphicon.glyphicon-hourglass.pending
                    h1
                        span.no Not submitted yet
                        span.accepted Accepted
                        span.rejected Rejected
                        span.pending Pending
                    .row: p.col-sm-offset-2.col-sm-8
                        span.no There is no
                        span.no.courseName
                        span.no submitted yet.
                        span.accepted.courseName
                        span.accepted has been approved already.
                        span.rejected.courseName
                        span.rejected has been rejected already.
                        span.pending Please judge
                        span.pending.courseName
                        span.pending by pressing the buttons below.
                    .row.margin-top.accepted.pending
                        .input-group.col-sm-offset-2.col-sm-8
                            span.input-group-addon Local link
                            input#localLink.form-control(
                                type="text"
                                data-link="file:///"+config.courseMaterialPath+quarter.name+"/"
                                readonly
                            )
                            .input-group-btn
                                button#copyLink.btn.btn-default(type="button" data-toggle="tooltip" title="Copy to clipboard")
                                    span.glyphicon.glyphicon-duplicate
                    form.accepted.pending(action="post/judgeCourseMaterial" type="post")
                        input(name="courseID" type="hidden" required)
                        input(name="numberOfSub" type="hidden" required)
                        .row.margin-top
                            .pending.col-sm-offset-2.col-sm-8
                                .row
                                    button.btn.btn-success.col-sm-5(name="action" type="submit" value="accept")
                                        span.glyphicon.glyphicon-ok
                                    button.btn.btn-danger.col-sm-offset-2.col-sm-5(name="action" type="submit" value="reject")
                                        span.glyphicon.glyphicon-remove
                            button.accepted.btn.btn-danger.col-sm-offset-4.col-sm-4(name="action" type="submit" value="reject")
                                span.glyphicon.glyphicon-remove
                .modal-footer
    #confirmModal.modal.fade
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h4.modal-title Confirm
                .modal-body
                    .row: p.col-sm-offset-2.col-sm-8.text-center
                        | Are you sure to
                        span.action
                        span.courseName
                        | ?
                    .row
                        .col-sm-offset-2.col-sm-8
                            .row
                                button#confirmButton.btn.btn-success.col-sm-5(name="action" type="submit") Confirm
                                button#cancelButton.btn.btn-danger.col-sm-offset-2.col-sm-5(type="button") Cancel
    +modal-loading("Waiting for Server")
    +container-liquid
        .table-responsive
            table.table.table-bubble
                thead
                    tr
                        th(colspan=2)
                            +quarter-selector("adminCourseMaterial",protectedQuarter,quarter)
                        - for(var i=1;i<=13;i++)
                            th.brown= i
                tbody
                    - for(var i in course)
                        tr
                            if(i==0||compare(course[i].tutor,course[i-1].tutor))
                                -
                                    var rowspan=course.slice(i).findIndex(function(x){
                                        return compare(x.tutor,course[i].tutor);
                                    })
                                td.teal.tutor-name(
                                    rowspan=(rowspan==-1)?course.length-i:rowspan
                                )
                                    - for(var j in course[i].tutorNicknameEnArray)
                                        h4= course[i].tutorNicknameEnArray[j]
                            +course-link(course[i].courseName,course[i].day)(data-course-id=course[i].courseID)
                            - for(var j=0;j<13;j++)
                                +cell(course[i].submission[j])(
                                    data-course-id=course[i].courseID
                                    data-number-of-sub=j+1
                                    data-course-name=course[i].courseName
                                    data-status=course[i].submission[j]?course[i].submission[j]:"no"
                                    data-tutor-email=course[i].tutorEmail
                                    data-tutor-nickname-en=course[i].tutorNicknameEn
                                )
