extends htmlTemplate
block head
    - var pageTitle = "All Skill"
block script
    script(src="js/adminAllskill.min.js")
block body
    .container-fluid
        .row
            .col-12.col-md-2.option-container.position-fixed
                h1.mt-10 Skill
                label
                    span.fas.fa-fw.fa-lg.fa-th-large &nbsp;
                    |Quarter
                select.custom-select#quarter-select
                    each i in quarterList
                        if(i.year+'-'+i.quarter==selectedQuarter)
                            option(value=i.year+'-'+i.quarter selected)= i.name
                        else
                            option(value=i.year+'-'+i.quarter)= i.name
                label.mt-3
                    span.fas.fa-fw.fa-lg.fa-filter &nbsp;
                    |Filter
                select.custom-select#subject
                    option(value="ME") ALL
                    option(value="M") MATH
                    option(value="E") ENGLISH
                //- button#addBtn.mt-3.col.btn.btn-outline-secondary + Add New
            .col-12.col-md-10.offset-md-2.px-0
                .table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th.text-center Time
                                th.text-center Subject
                                th.text-center Student
                        tbody
                            each i in skillList
                                tr(class=i.subject+'skill' onclick='gotoSkillInfoPage("'+i.ID+i.subject+'")')
                                    td.text-center= i.day
                                    td.text-center= (i.subject=='M')?'Math':'English'
                                    td.text-center= i.student