extends htmlTemplate
block head
    -const pageTitle = "Upload Receipt"
    link(href="css/component.css", rel="stylesheet")
block script
    script(src="js/custom-file-input.js")
    script(src="js/regRc.min.js")
block body
    .container-fluid
        .row
            .col
                h2.mt-2#receiptHead='รายละเอียดการโอนเงินคอร์ส '+qname
                h5(style="color:red") *โปรดอ่านขั้นตอนการโอนเงินอย่างละเอียด*
        .row
            .col.col-md-4
                img.img-fluid(src="images/scb.png")
            .col.col-md-4
                p.money.d-block.d-sm-none(style="color:red;background-color:yellow"): strong='ชำระเงินจำนวน '+ (config.coursePrice*courseNumber) + ' บาท'
                p.money.d-none.d-sm-block(style="font-size:1.5em;color:red;background-color:yellow")='ชำระเงินจำนวน '+ (config.coursePrice*courseNumber) + ' บาท'
                p.d-block.d-sm-none: strong โดยสามารถชำระที่เคาน์เตอร์ธนาคาร, ATM, อินเตอร์เน็ตหรือมือถือเข้ามาที่เลข บช. ของธนาคารไทยพาณิชย์ตามรูปด้านบน ได้จากทุกธนาคาร พร้อมทั้งอัปโหลดรูปใบโอนที่ปุ่มด้านล่าง (รอจนรูป Preview ขึ้นก่อนกดยืนยันและหากไม่พอใจสามารถกดอัพโหลดซ้ำอีกครั้งได้)
                p.d-none.d-sm-block(style="font-size:1.5em") โดยสามารถชำระที่เคาน์เตอร์ธนาคาร, ATM, อินเตอร์เน็ตหรือมือถือเข้ามาที่เลข บช. ของธนาคารไทยพาณิชย์ตามรูปทางซ้าย ได้จากทุกธนาคาร พร้อมทั้งอัปโหลดรูปใบโอนที่ปุ่มด้านล่าง (รอจนรูป Preview ขึ้นก่อนกดยืนยันและหากไม่พอใจสามารถกดอัพโหลดซ้ำอีกครั้งได้)
                p.d-block.d-sm-none(style="color:red;background-color:yellow"): strong กรุณาอย่าลืมกดยืนยัน
                p.d-none.d-sm-block(style="font-size:1.5em;color:red;background-color:yellow") กรุณาอย่าลืมกดยืนยัน
                .box(align="center")
                    input#file-1.inputfile.inputfile-1(
                        type="file"
                        name="file-1[]"
                        style="opacity: 0;height: 0;"
                    )
                    label(for="file-1" style="width:200px; height:60px; font-size:1.5em")
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                            path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
                        span เลือกรูป
            .col.col-md-4.text-center
                h4 Preview
                img.img-fluid#preview(src="images/nopic.png")
        br
        br
        .row
            button#submit.btn.btn-primary.ml-auto.mr-2(type="button") ยืนยัน