extends htmlTemplate
block head
    -const pageTitle = "Summer Absent Form"
block script
    script(src="js/summerAbsentForm.min.js")
block body
    mixin tablebody(startDay,type)
        tr
            th.text-center= "Mon "+startDay
            th.text-center= "Tue "+(startDay+1)
            th.text-center= "Wed "+(startDay+2)
            th.text-center= "Thu "+(startDay+3)
            th.text-center= "Fri "+(startDay+4)
        tr
            +tabletd(startDay,type)
            +tabletd(startDay+1,type)
            +tabletd(startDay+2,type)
            +tabletd(startDay+3,type)
            +tabletd(startDay+4,type)
    mixin tabletd(day,type)
        td
            +butt(day,type)
    mixin butt(day,type)
        if(day<10)
            button.disabled.btn.btn-light.col-12.col-md-4.btn-8.btn-a(type="button" id=type+"0"+day+"-08") 8
            button.disabled.btn.btn-light.col-12.col-md-4.btn-10.btn-a(type="button" id=type+"0"+day+"-10") 10
            button.disabled.btn.btn-light.col-12.col-md-4.btn-13.btn-a(type="button" id=type+"0"+day+"-13") 13
        else
            button.disabled.btn.btn-light.col-12.col-md-4.btn-8.btn-a(type="button" id=type+day+"-08") 8
            button.disabled.btn.btn-light.col-12.col-md-4.btn-10.btn-a(type="button" id=type+day+"-10") 10
            button.disabled.btn.btn-light.col-12.col-md-4.btn-13.btn-a(type="button" id=type+day+"-13") 13
    .container-fluid
        .row.mt-3: .col: h4(style="color:red") หากไม่ต้องการลาสามารถกดยืนยันได้ทันที
        .row: .col
            h4#absentHeader แบบฟอร์มลา CR61MAR
            p(style="color:red") คลิกเพื่อเลือกวันและเวลาที่ต้องการลา
        .form-group
            label ผู้แจ้ง :
            input#sender.form-control(type="text")
        .table-responsive
            table.table.table-bordered
                tbody
                    +tablebody(12,"a")
                    +tablebody(19,"a")
                    +tablebody(26,"a")
        //- hr
        //- .row: .col
        //-     h4 แบบฟอร์มชดเชย CR61MAR
        //-     p(style="color:red") คลิกเพื่อเลือกวันและเวลาที่สะดวกมาชดเชย
        //-     p(style="color:red") *แต่ทาง รร จะจัดชดเชยให้ตามสมควร
        //- .table-responsive
        //-     table.table.table-bordered
        //-         tbody
        //-             tr
        //-                 th.text-center Mon 12
        //-                 th.text-center Tue 13
        //-                 th.text-center Wed 14
        //-                 th.text-center Thu 15
        //-                 th.text-center Fri 16
        //-             tr
        //-                 td
        //-                     button#p12-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p13-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p14-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p15-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p16-15.btn.btn-light.col.btn-p(type="button") 15
        //-             tr
        //-                 th.text-center Mon 19
        //-                 th.text-center Tue 20
        //-                 th.text-center Wed 21
        //-                 th.text-center Thu 22
        //-                 th.text-center Fri 23
        //-             tr
        //-                 td
        //-                     button#p19-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p20-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p21-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p22-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p23-15.btn.btn-light.col.btn-p(type="button") 15
        //-             tr
        //-                 th.text-center Mon 26
        //-                 th.text-center Tue 27
        //-                 th.text-center Wed 28
        //-                 th.text-center Thu 29
        //-                 th.text-center Fri 30
        //-             tr
        //-                 td
        //-                     button#p26-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p27-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p28-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p29-15.btn.btn-light.col.btn-p(type="button") 15
        //-                 td
        //-                     button#p30-15.btn.btn-light.col.btn-p(type="button") 15
        .row
            .col
                button#submit.btn.btn-success.float-right ยืนยัน