extends htmlTemplate
block head
    -const pageTitle = "Summer Absent Form"
block script
    script(src="js/summerAbsentForm.min.js")
block body
    mixin tablebody(startDay,type)
        tr
            th.text-center= "Mon "+startDay
            th.text-center= "Tue "+(startDay+1)
            th.text-center= "Wed "+(startDay+2)
            th.text-center= "Thu "+(startDay+3)
            th.text-center= "Fri "+(startDay+4)
        tr
            +tabletd(startDay,type)
            +tabletd(startDay+1,type)
            +tabletd(startDay+2,type)
            +tabletd(startDay+3,type)
            +tabletd(startDay+4,type)
    mixin tabletd(day,type)
        td
            +butt(day,type)
    mixin butt(day,type)
        if(type=='a')
            if(day<10)
                button.disabled.btn.btn-light.col-12.col-md-4.btn-8(type="button" id=type+"0"+day+"-08" class='btn-'+type) 8
                button.disabled.btn.btn-light.col-12.col-md-4.btn-10(type="button" id=type+"0"+day+"-10" class='btn-'+type) 10
                button.disabled.btn.btn-light.col-12.col-md-4.btn-13(type="button" id=type+"0"+day+"-13" class='btn-'+type) 13
            else
                button.disabled.btn.btn-light.col-12.col-md-4.btn-8(type="button" id=type+day+"-08" class='btn-'+type) 8
                button.disabled.btn.btn-light.col-12.col-md-4.btn-10(type="button" id=type+day+"-10" class='btn-'+type) 10
                button.disabled.btn.btn-light.col-12.col-md-4.btn-13(type="button" id=type+day+"-13" class='btn-'+type) 13
        else if(type=='p')
            if(day<10)
                button.btn.btn-light.col.btn-15(type="button" id=type+"0"+day+"-15" class='btn-'+type) 15
            else
                button.btn.btn-light.col.btn-15(type="button" id=type+day+"-15" class='btn-'+type) 15
    .container-fluid
        .row.mt-3: .col
            h4#absentHeader แบบฟอร์มลา CR61MAR
            p(style="color:red") คลิกเพื่อเลือกวันและเวลาที่ต้องการลา
        .table-responsive
            table.table.table-bordered
                tbody
                    +tablebody(12,"a")
                    +tablebody(19,"a")
                    +tablebody(26,"a")
        hr
        .row: .col
            h4#presentHeader แบบฟอร์มชดเชย CR61MAR
            p(style="color:red") คลิกเพื่อเลือกวันและเวลาที่สะดวกมาชดเชย
            p(style="color:red") *แต่ทาง รร จะจัดชดเชยให้ตามสมควร
        .table-responsive
            table.table.table-bordered
                tbody
                    +tablebody(12,"p")
                    +tablebody(19,"p")
                    +tablebody(26,"p")
    //- Modal for waiting
    #waiting.modal.fade
        .modal-dialog.modal-sm
            .modal-content
                .modal-body
                    p โปรดรออัปเดตข้อมูลจนเสร็จ
    //- Modal for add present
    #addPresentModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title เลือกวิชาที่ต้องการชดเชย
                    button.close(type="button" data-dismiss="modal") &times;
                .modal-body
                    .form-group
                        select#presentSubj.custom-select
                .modal-footer
                    button#addPresentBtn.btn.btn-outline-success(type="button") ยืนยัน