extends htmlTemplate
block head
    -const pageTitle = "Test Admin"
    style.
        .img-fluid:hover{
            opacity: 0.5;
        }
block script
    script(src="js/testAdmin.min.js")
mixin dropdownCard(id,head,subhead)
    .card
        .card-header
            h5.mb-0
                button.px-0.pb-0.btn.btn-lg.btn-link(data-toggle="collapse" data-target="#"+id)= head
            p.pt-0.small.text-muted= subhead
        .collapse(id=id data-parent="#accordion")
            .card-body
                block
mixin inlineCheck(className,value,label)
    .form-check.form-check-inline
        input(type="checkbox" value=value class=className+" form-check-input")
        label.form-check-label= label

block body
    .container-fluid#navigation
        .row
            .col-6.col-md-4.pt-3
                img.myNav.userNav.img-fluid(src="images/userAdmin.png")
            .col-6.col-md-4.pt-3
                img.myNav.stdNav.img-fluid(src="images/studentAdmin.png")
            .col-6.col-md-4.pt-3
                img.myNav.crNav.img-fluid(src="images/courseAdmin.png")
            .col-6.col-md-4.pt-3
                img.myNav.configNav.img-fluid(src="images/configAdmin.png")
            .col-6.col-md-4.pt-3
                img.myNav.etcNav.img-fluid(src="images/etcAdmin.png")
    .container-fluid.navigationIcon.pt-3
        .row    
            .col-12
                button#globalBack.btn.btn-outline-primary
                    span.fa.fa-lg.fa-chevron-circle-left
                    |&nbsp;Back
    .container-fluid.myContent.userContent
        h1 Under Construction
    .container-fluid.myContent.stdContent
        h1 Under Construction
    .container-fluid.myContent.crContent
        +dropdownCard("allCoursePane","List all course","post/v1/allCourse")
            .row 
                .col
                    select#allCourseQuarterSelect.quarterSelect.custom-select
                .col-auto: button.btn.btn-primary(onclick="listAllCourse();") List
            .table-responsive
                table.table.table-hover.table-bordered.mt-3
                    thead
                        tr
                            th.text-center CourseID
                            th.text-center CourseName
                            th.text-center Day
                            th.text-center Grade
                            th.text-center Room
                            th.text-center Student count
                            th.text-center Tutor name
                    tbody#allCourseTableBody
        +dropdownCard("gradeCoursePane","List grade course","post/gradeCourse")
            .row 
                .col
                    select#gradeCourseQuarterSelect.quarterSelect.custom-select
                .col
                    select#gradeCourseGradeSelect.gradeSelect.custom-select
                .col-auto: button.btn.btn-primary(onclick="listGradeCourse();") List
            .table-responsive
                table.table.table-hover.table-bordered.mt-3
                    thead
                        tr
                            th.text-center CourseID
                            th.text-center CourseName
                            th.text-center Day
                            th.text-center Description
                            th.text-center TutorID
                    tbody#gradeCourseTableBody
        +dropdownCard("courseInfoPane","Course info","post/courseInfo")
            .row
                .col
                    select#crInfoQuarterSelect.quarterSelect.custom-select
                        option(selected value=0) Select Quarter
                .col
                    select#crInfoCourseSelect.custom-select
                        option(selected value=0) Select Course
            .row
                .col#crInfoOutput
        +dropdownCard("addCoursePane","Add course","post/addCourse")
            .row 
                .col-12.col-md-6
                    select#addCourseQuarterSelect.quarterSelect.custom-select
                .col-12.col-md-6
                    select#addCourseSubjectSelect.subjectSelect.custom-select
            .row.mt-2
                .col-auto
                    label Grade:
                .col
                    +inlineCheck("addCourseCheck",1,"P1")
                    +inlineCheck("addCourseCheck",2,"P2")
                    +inlineCheck("addCourseCheck",3,"P3")
                    +inlineCheck("addCourseCheck",4,"P4")
                    +inlineCheck("addCourseCheck",5,"P5")
                    +inlineCheck("addCourseCheck",6,"P6")
                    +inlineCheck("addCourseCheck",7,"S1")
                    +inlineCheck("addCourseCheck",8,"S2")
                    +inlineCheck("addCourseCheck",9,"S3")
                    +inlineCheck("addCourseCheck",10,"S4")
                    +inlineCheck("addCourseCheck",11,"S5")
                    +inlineCheck("addCourseCheck",12,"S6")
            .row
                .col-12.col-md-6
                    input#addCourseLevel.form-control(type="text" placeholder="Level")
                .col-12.col-md-6
                    select#addCourseDaySelect.custom-select
                        option(value="176400000") Sat 8-10
                        option(value="183600000") Sat 10-12
                        option(value="194400000") Sat 13-15
                        option(value="201600000") Sat 15-17
                        option(value="262800000") Sun 8-10
                        option(value="270000000") Sun 10-12
                        option(value="280800000") Sun 13-15
                        option(value="288000000") Sun 15-17
                        option(value="-255600000") Summer 8-10
                        option(value="-248400000") Summer 10-12
                        option(value="-237600000") Summer 13-15
            .row
                .col-12.col-md-6
                    select#addCourseTutorSelect.tutorSelect.custom-select
                .col-12.col-md-6
                    select#addCourseRoomSelect.custom-select
                        option(value="-") Unassign
                        option(value="0") Hybrid
                        option(value="1") Room 1
                        option(value="2") Room 2
                        option(value="3") Room 3
                        option(value="4") Room 4
                        option(value="5") Glass
            .row
                .col
                    input#addCourseDescription.form-control(type="text" placeholder="Description")
            .row.mt-3
                .col
                    button.float-right.btn.btn-success(onclick="addNewCourse();") Add +
    .container-fluid.myContent.configContent
        h1 Under Construction
    .container-fluid.myContent.etcContent
        h1 Under Construction