extends htmlTemplate
block head
    - var pageTitle="My Course Material"
    link(rel="stylesheet" href="/css/courseMaterial.css")
    script(src="/js/tutorCourseMaterial.js")
block body
    include generalTemplate
    include courseMaterial
    -
        course=course.filter(function(x){
            return x.tutor.includes(webUser.userID);
        });
        course.sort(function(x,y){
            if(x.day!=y.day)return x.day-y.day;
            if(x.courseName!=y.courseName)return compare(x.courseName,y.courseName);
            return compare(x.courseID,y.courseID);
        });
        for(var i in course){
            course[i].day=moment(course[i].day);
        }
    #submitModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                .modal-body.text-center
                    .big-symbol
                        span.glyphicon.glyphicon-minus.no
                        span.glyphicon.glyphicon-ok.accepted
                        span.glyphicon.glyphicon-remove.rejected
                        span.glyphicon.glyphicon-hourglass.pending
                    h1
                        span.no Not submitted yet
                        span.accepted Accepted
                        span.rejected Rejected
                        span.pending Pending
                    .row: p.col-sm-offset-2.col-sm-8
                        span.no Please upload your
                        span.no.courseName
                        span.no below.
                        span.accepted Congratulations! Your
                        span.accepted.courseName
                        span.accepted has been approved.
                        span.rejected Your
                        span.rejected.courseName
                        span.rejected has been rejected. Check your email for further details. Please upload the new one.
                        span.pending Your
                        span.pending.courseName
                        span.pending is in progress of approving. However, you can upload the new one to replace.
                    .row.margin-top.accepted.pending
                        .input-group.col-sm-offset-2.col-sm-8
                            span.input-group-addon Local link
                            input#localLink.form-control(
                                type="text"
                                data-link="file:///"+config.courseMaterialPath+quarter.name+"/"
                                readonly
                            )
                            .input-group-btn
                                button#copyLink.btn.btn-default(type="button" data-toggle="tooltip" title="Copy to clipboard")
                                    span.glyphicon.glyphicon-duplicate
                    form(action="post/submitCourseMaterial" type="post")
                        input(name="courseID" type="hidden" required)
                        input(name="numberOfSub" type="hidden" required)
                        .row.margin-top
                            .col-sm-offset-2.col-sm-5
                                .btn-group.btn-group-justified
                                    label.btn.btn-default Browse files
                                        input.hidden(type="file" multiple required)
                                    .btn-group
                                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                                            span.badge 0
                                            |
                                            |
                                            span.caret
                                        ul.dropdown-menu
                                            li.dropdown-header List of selected files
                            .col-sm-3
                                button.btn.btn-default.col-sm-12(type="submit") Submit
                .modal-footer
    +modal-loading("Uploading files")
    .jumbotron
        .container
            h1 Your course materials progress
            p.
                Table below shows progress of your course materials.
                Click on table cells to see the detail.
    .container-fluid
        .table-responsive
            table.table.table-bubble
                thead
                    tr
                        th
                            +quarter-selector("tutorCourseMaterial",protectedQuarter,quarter)
                        - for(var i=1;i<=13;i++)
                            th.brown= i
                tbody
                    - for(var i in course)
                        tr
                            +course-link(course[i].courseName,course[i].day)(data-course-id=course[i].courseID)
                            - for(var j=0;j<13;j++)
                                +cell(course[i].submission[j])(
                                    data-course-id=course[i].courseID
                                    data-number-of-sub=j+1
                                    data-course-name=course[i].courseName
                                    data-status=course[i].submission[j]?course[i].submission[j]:"no"
                                )
